-- ============================================================================
-- ADMIN ONLY: Export RAW_EVENTS to S3 for candidate distribution
-- Run this from the SOURCE account (PROD_DEMO_BRONZE_DB)
-- ============================================================================

-- Prerequisites:
-- 1. S3 bucket: appomax-de-challenge (already exists)
-- 2. Storage integration configured for your AWS account
-- 3. Bucket must be set to public-read after export

-- ============================================================================
-- Step 1: Create/Use Storage Integration
-- ============================================================================

-- If you already have a storage integration, use it.
-- Otherwise create one:
/*
CREATE OR REPLACE STORAGE INTEGRATION DE_CHALLENGE_S3
    TYPE = EXTERNAL_STAGE
    STORAGE_PROVIDER = 'S3'
    ENABLED = TRUE
    STORAGE_AWS_ROLE_ARN = 'arn:aws:iam::<YOUR_ACCOUNT_ID>:role/snowflake-de-challenge'
    STORAGE_ALLOWED_LOCATIONS = ('s3://appomax-de-challenge/');

-- Get the external ID and IAM user for trust policy
DESC INTEGRATION DE_CHALLENGE_S3;
*/

-- ============================================================================
-- Step 2: Create Stage
-- ============================================================================

USE DATABASE PROD_DEMO_BRONZE_DB;
USE SCHEMA UNS_LANDING;

CREATE OR REPLACE STAGE EXPORT_STAGE
    STORAGE_INTEGRATION = DE_CHALLENGE_S3
    URL = 's3://appomax-de-challenge/raw_events/'
    FILE_FORMAT = (TYPE = PARQUET);

-- ============================================================================
-- Step 3: Export Production Data (Schema Version 0.1)
-- ~25.3M rows ΓÇö will create multiple Parquet files
-- ============================================================================

COPY INTO @EXPORT_STAGE/production/
FROM (
    SELECT
        EVENT_TS,
        ENTERPRISE,
        SITE,
        AREA,
        WORK_CENTER,
        WORK_CELL,
        ASSET,
        ASSET_PATH,
        NAMESPACE,
        QUALITY,
        PAYLOAD,
        INGESTED_TS,
        SCHEMA_VERSION,
        SOURCE,
        CORRELATION_ID
    FROM PROD_DEMO_BRONZE_DB.UNS_LANDING.RAW_EVENTS
    WHERE SCHEMA_VERSION = '0.1'
)
FILE_FORMAT = (TYPE = PARQUET)
HEADER = TRUE
OVERWRITE = TRUE
MAX_FILE_SIZE = 268435456;  -- 256 MB per file

-- ============================================================================
-- Step 4: Export Vibration v1
-- ~574K rows
-- ============================================================================

COPY INTO @EXPORT_STAGE/vibration_v1/
FROM (
    SELECT
        EVENT_TS,
        ENTERPRISE,
        SITE,
        AREA,
        WORK_CENTER,
        WORK_CELL,
        ASSET,
        ASSET_PATH,
        NAMESPACE,
        QUALITY,
        PAYLOAD,
        INGESTED_TS,
        SCHEMA_VERSION,
        SOURCE,
        CORRELATION_ID
    FROM PROD_DEMO_BRONZE_DB.UNS_LANDING.RAW_EVENTS
    WHERE SCHEMA_VERSION = 'vibration.raw.v1'
)
FILE_FORMAT = (TYPE = PARQUET)
HEADER = TRUE
OVERWRITE = TRUE
MAX_FILE_SIZE = 268435456;

-- ============================================================================
-- Step 5: Export Vibration v2
-- ~565K rows
-- ============================================================================

COPY INTO @EXPORT_STAGE/vibration_v2/
FROM (
    SELECT
        EVENT_TS,
        ENTERPRISE,
        SITE,
        AREA,
        WORK_CENTER,
        WORK_CELL,
        ASSET,
        ASSET_PATH,
        NAMESPACE,
        QUALITY,
        PAYLOAD,
        INGESTED_TS,
        SCHEMA_VERSION,
        SOURCE,
        CORRELATION_ID
    FROM PROD_DEMO_BRONZE_DB.UNS_LANDING.RAW_EVENTS
    WHERE SCHEMA_VERSION = 'vibration.raw.v2'
)
FILE_FORMAT = (TYPE = PARQUET)
HEADER = TRUE
OVERWRITE = TRUE
MAX_FILE_SIZE = 268435456;

-- ============================================================================
-- Step 6: Export Power Meter
-- ~299K rows
-- ============================================================================

COPY INTO @EXPORT_STAGE/power_meter/
FROM (
    SELECT
        EVENT_TS,
        ENTERPRISE,
        SITE,
        AREA,
        WORK_CENTER,
        WORK_CELL,
        ASSET,
        ASSET_PATH,
        NAMESPACE,
        QUALITY,
        PAYLOAD,
        INGESTED_TS,
        SCHEMA_VERSION,
        SOURCE,
        CORRELATION_ID
    FROM PROD_DEMO_BRONZE_DB.UNS_LANDING.RAW_EVENTS
    WHERE SCHEMA_VERSION = 'power_meter.raw.v1'
)
FILE_FORMAT = (TYPE = PARQUET)
HEADER = TRUE
OVERWRITE = TRUE
MAX_FILE_SIZE = 268435456;

-- ============================================================================
-- Step 7: Verify exports
-- ============================================================================

LIST @EXPORT_STAGE/production/;
LIST @EXPORT_STAGE/vibration_v1/;
LIST @EXPORT_STAGE/vibration_v2/;
LIST @EXPORT_STAGE/power_meter/;

-- ============================================================================
-- Step 8: Set S3 Bucket Policy to public-read
-- ============================================================================
-- After export, set this bucket policy in AWS Console or CLI:
/*
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "PublicReadGetObject",
      "Effect": "Allow",
      "Principal": "*",
      "Action": "s3:GetObject",
      "Resource": "arn:aws:s3:::appomax-de-challenge/*"
    },
    {
      "Sid": "PublicListBucket",
      "Effect": "Allow",
      "Principal": "*",
      "Action": "s3:ListBucket",
      "Resource": "arn:aws:s3:::appomax-de-challenge"
    }
  ]
}

-- Also disable "Block Public Access" in S3 bucket settings
-- AWS CLI:
-- aws s3api put-bucket-policy --bucket appomax-de-challenge --policy file://bucket-policy.json
-- aws s3api put-public-access-block --bucket appomax-de-challenge --public-access-block-configuration "BlockPublicAcls=false,IgnorePublicAcls=false,BlockPublicPolicy=false,RestrictPublicBuckets=false"
*/

-- ============================================================================
-- Done! Test from a trial account:
-- CREATE STAGE test_stage URL='s3://appomax-de-challenge/raw_events/';
-- LIST @test_stage;
-- ============================================================================
